<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/jquery.js"></script>
    <script data-main="js/main" src="js/require.js"></script>
  </head>
  <body>
    <ul id="controls">
        <li><button>&uarr;</button></li>
        <li><button>&darr;</button></li>
        <li><button>&larr;</button></li>
        <li><button>&rarr;</button></li>
    </ul>
    <ul id="zoom">
        <li><button>+</button></li>
        <li><button>-</button></li>
    </ul>
  </body>
</html>